* {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  #background-image {
  background: url(../images/uyuni-cover.jpg) no-repeat center center;
  background-size: cover;

  }

 .grid {
    height: -webkit-fill-available;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    padding: 5%;
    border: 1px solid black;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header"
        "main"
        "footer";

  }

  .header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logo {
    justify-content: left;
    align-items: center;
    flex: 1;

  }

  #logo-img {
    max-width: 150px;
  }

  nav {
    display: flex;
    flex: 1;
  }

  .navbar {
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
  
  }

  .navbar > li {
    list-style-type: none;
    margin-right: 1em;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-media > li {
    display: inline;

  }

  .image {
    width: 50px;
    height: 50px;
  }

  

  @media screen and (max-width: 480px) {



    .logo {
      align-items: center;
      flex: 1;
    }

    .navbar {
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center; 
    }

    nav {
      flex: 2;
    }

  }

  